@model List<PizzaDomino.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="line"></div>
    <div class="jum_text">
        <div class="text1">START YOUR ORDER</div>
        <button class="btn btn-danger" id="btn-left">DELIVERY</button>
        <span class="text-or">or</span>
        <button class="btn btn-danger">CARRYOUT</button>
    </div>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-sm-8">
        <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" />
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12"><img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
            <div class="col-sm-12"><img class="sale-banner mini-sales" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        </div>
    </div>
</div>
<div class="row row_main">

    @foreach (var item in Model)
    {
        <div class="cont_main">
            <div class="cont_main_text">@item.Name</div>
            <div> <a href="#">FIND OUT MORE <i class="glyphicon glyphicon-play"></i></a></div>
        </div>
        foreach (var good in item.Goods)
        {
            <div class="col-sm-3 p-div">
                <div class="col_img"> <img class="sale-banner" src="@good.ImageSource" /></div>
                <div class="col_text">
                    <div>@good.Name.ToUpper()</div>
                    <div>@good.Price $</div>
                    <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>
        }
    }
</div>