@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="line"></div>
    <div class="jum_text">
        <div class="text1">START YOUR ORDER</div>
        <button class="btn btn-danger" id="btn-left">DELIVERY</button>
        <span class="text-or">or</span>
        <button class="btn btn-danger">CARRYOUT</button>
    </div>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-sm-8">
        <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" />
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12"><img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
            <div class="col-sm-12"><img class="sale-banner mini-sales" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        </div>
    </div>
</div>
<div class="row row_main">
    <div class="cont_main">
        <div class="cont_main_text">NEW YORKER RANGE</div>
        <div> <a href="#">FIND OUT MORE <i class="glyphicon glyphicon-play"></i></a></div>
    </div>

    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> THE BIG CHEESE</div>
            <div>10080kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div>  THE BIG PEPPERONI</div>
            <div>10800kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> THE BIG HAM & PINAPPLE</div>
            <div>9600kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> THE BIG HAM & SAUSAGE</div>
            <div>11040kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> THE BIG HAM & SAUSAGE & MUSHROOM</div>
            <div>10720kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> THE BIG THREE MEATS</div>
            <div>11600kj^</div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
    <div class="col-sm-3 p-div">
        <div class="col_img"> <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        <div class="col_text">
            <div> NEW YOURKER HALF N' HALF</div>
            <div></div>
            <button class="btn btn-danger">ORDER NOW <i id="glyp" class="glyphicon glyphicon-play"></i></button>
        </div>
    </div>
</div>