body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.container {
    padding-left: 100px !important;
    padding-right: 100px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
    background-color: rgb(210,62,43);
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.menu-item {
    font-family: Oswald, impact, charcoal, sans-serif;
    color:#ffffff !important;
}
.nav > li:hover {
    background-color: rgb(245, 44, 19);
}
.sale-banner {
width:100%;
height:auto;
}
.mini-sales{
    margin-top:30px;
}
.createModule {
    display: none;
    max-width: 40%;
    padding: 20px;
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999999999;
    background-color: #ddd;
}

    .createModule .row a {
        float: right;
    }

.sale-banner {
    width: 100%;
    height: auto;
}

.mini-sales {
    margin-top: 30px;
}


.jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

    .jumbotron h4 {
        line-height: 2.1;
    }

.jum_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 78%;
    font-family: Oswald, impact, charcoal, sans-serif;
}

    .jum_text button {
        width: 25%;
    }

.line {
    border-top: 1px solid grey;
    height: 0;
    margin-top: 22px;
    width: 13%;
    margin-left: -30px;
    margin-right: -30px;
}

.text1 {
    color: darkblue;
    margin-left: 50px;
}

#btn-left {
    margin-left: 81px;
}

.text-or {
    font-style: italic;
    color: grey;
    font-family: sans-serif;
    font-weight: 600;
}

.row_main {
    background-color: darkgray;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

.cont_main {
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
    width: 96.5%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Oswald, impact, charcoal, sans-serif;
    color: white !important;
    height: 71px;
}

.cont_main_text {
    font-size: 35px;
    padding-top: 20px;
}

.cont_main div:last-child {
    padding-top: 44px;
}

.cont_main a:hover {
    color: white;
    text-decoration: none;
}

.cont_main a {
    color: white;
}

.p-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    margin-bottom: 4%;
    height: 260px;
}

    .p-div button {
        width: 200px;
        border-radius: 3px;
        font-family: Oswald, impact, charcoal, sans-serif;
        color: white;
    }

#glyp {
    color: white;
    margin-left: 45% !important;
}

.col_img img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.col_text {
    margin-top: 8%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .col_text div:first-child {
        font-family: Oswald, impact, charcoal, sans-serif;
        color: white;
        font-size: 16px;
        height: 44px;
    }

    .col_text div:nth-child(2) {
        color: grey;
        height: 35px;
    }

.col_img {
    margin: 0 auto;
}